<div class="row">
	<div class="offset2 span8" style="text-align: justify;">
		
		<h1>
		  Editor's Guide
		</h1>

		<div style="contents">
		  <ol>
		    <li><a href="#standards">Standards</a></li>
		    <li><a href="#review-policy">Review Policy</a>
		      <ol>
		        <li style="font-size: 1em;"><a href="#review-policy-overview">Overview</a></li>
		        <li><a href="#review-policy-initial-review">Initial Review</a></li>
		        <li><a href="#review-policy-desk-rejection">Rejection Without External Review</a></li>
		        <li><a href="#review-policy-external-review">External Review</a></li>
		        <li><a href="#review-policy-resubmission">Resubmission</a></li>
		      </ol>
		    </li>
		    <li><a href="#workflow">Workflow</a>
		      <ol>
		        <li><a href="#workflow-new-assignment">Handling a New Assignment</a></li>
		        <li><a href="#workflow-recording">Recording a Decision</a></li>
		        <li><a href="#workflow-external-reviews">Obtaining External Reviews</a></li>
							<ol>
								<li><a href="#workflow-obtaining-external-reviews-the-request-process">Requesting a Review</a></li>
								<li><a href="#workflow-obtaining-external-reviews-managing-requests">Managing Requests</a></li>
							</ol>
		        <li><a href="#workflow-randr">R&amp;Rs: Major/Minor Revisions</a></li>
		        <li><a href="#workflow-acceptance">Acceptance</a></li>
		      </ol>
		    </li>
		  </ol>
		</div>

		<section id="standards">
		  <h2>
		    1. Standards
		  </h2>
		  <p>
		    <i>Ergo</i> aims to be a top-tier journal. The bar for acceptance is (1) that the paper be of the same quality as the best papers in existing top-tier journals like <i>The Philosophical Review</i> or <i>Philosophers' Imprint</i>, <b>and</b> (2) that its contribution be of broad interest, at least to philosophers in the relevant subfield.
		  </p>
		  <p>
		    <i>Ergo</i> also aims to be a truly generalist journal. Since many existing top-tier journals publish mainly in LEMM, the bar for acceptance can also be set according to the top one or two specialist journals in the relevant subfield. Papers in feminist philosophy should be as good as the best papers in <i>Hypatia</i>, papers in the philosophy of science should be as good as the best in <i>British Journal for the Philosophy of Science</i> or <i>Philosophy of Science</i>, papers in ethics should be as good as the best in <i>Ethics</i>, and so on.
		  </p>
		  <p>
		    The following heuristics can be used to help determine whether a paper is above the bar:
		  </p>
		      <ul>
		        <li>Am I glad I read this paper? Did I learn something valuable from reading it?</li>
		        <li>Would I suggest that peers or graduate students read the paper?</li>
		        <li>Am I or my peers likely to engage with the paper, whether by building on its contributions, arguing against it, or citing it?</li>
		        <li>If I came across this paper in a top-tier generalist journal, or the top journal in my field, would I question the judgment of the reviewers/editors in this case?</li>
		        <li>Would a peer whose judgment I respect recommend this paper for acceptance in a top-tier journal, or the top journal in my subfield?</li>
		      </ul>

		  <p>
		    Obviously, the following standards should not be used:
		  </p>
		    <ul>
		      <li>Do I agree with the paper's arguments/conclusions?</li>
		      <li>Regardless of what my peers think, do I think the paper's topic, assumptions, or general approach are worthy?</li>
		      <li>Would this paper be published by a top-tier journal, or the top journal in my field?</li>
		    </ul>

		  <p>
		    The responsibility for enforcing these standards ultimately lies with the area editor. The managing editors are not competent to evaluate papers outside their own areas of specialization. As a matter of policy, they will rubber-stamp the decisions of area editors, except in very rare cases. 
		  </p>
		  <p>
		    The area editor's decision is thus effectively final, unless the managing editors (who know the identities of authors and reviewers&mdash;see <a href="#review-policy">section 2</a>) find that there has been some impropriety or clear failure to apply journal standards and policies. We expect that this will almost never happen.
		  </p>
		</section>

		<section id="review-policy">
		  <h2>
		    2. Review Policy
		  </h2>
  
		  <section id="review-policy-overview">
		    <h3>
		      2.1 Overview
		    </h3>
		    <p>
		  	 <i>Ergo</i> uses a triple-anonymous peer review process.
		    </p>
		    <p>
		  	 An author submits an anonymized manuscript which is reviewed by an area editor. The area editor issues a decision, advised by external reviewers if appropriate. The managing editors approve this decision except in extraordinary cases, such as negligence or bias on the part of an area editor or reviewer.
		    </p>
		    <p>
		  	 Authors are not identified to area editors or to reviewers, and vice versa. Attempting to identify the author(s) of a submission, e.g. by googling the title, is strictly prohibited.
		    </p>
		    <p>
		     The managing editors know the identities of all parties.
		    </p>
		  </section>
  
		  <section id="review-policy-initial-review">
		    <h3>
		      2.2 Initial Review
		    </h3>
		    <p>
		      Each submission prepared for anonymous review will be assigned to one area editor by the managing editors, in accordance with the area specified by the author(s). The area editor reads the submission.
		    </p>
		  </section>

		  <section id="review-policy-desk-rejection">
		    <h3>
		      2.3 Rejection Without External Review
		    </h3>
		    <p>
		      If the area editor believes the submission has less than a 50% chance of being accepted, they reject the submission without sending it to external reviewers. The area editor should do so within two weeks, except in the case of an unusually long or difficult manuscript.
		    </p>
		    <p>
		      Approximately two thirds of all submissions will be rejected without external review. While the area editor is free to provide feedback to the author(s), this is not mandatory. The area editor only has to briefly justify to the managing editors the decision to the managing editors.
		    </p>
		    <p>
		      Without external review, area editors can only decide to reject.
		    </p>
		  </section>
  
		  <section id="review-policy-external-review">
		    <h3>
		      2.4 External Review
		    </h3>
				<p>
					If the area editor believes the submission has at least a 50% chance of being accepted, they send the submission to external referees. In this case the area editor should submit a decision to the managing editors within six weeks of submission, except for unusually long or difficult manuscripts. The area editor strives to recommend acceptance or rejection.
				</p>
				<p>
					The area editor should secure at least two referee reports. However, should one negative report be received before a second can be successfully commissioned, the area editor may decide to reject the submission on the basis of the one report. Otherwise, at least two reports are required for a decision.
				</p>
				<p>
					Approximately one third of all submissions will be sent out to external referees. External referees are asked to recommend one of the following: accept, minor revisions, major revisions, reject. In each case the external referee must justify their recommendation.
				</p>
				<p>
					The job of editors and referees is to evaluate submissions, not improve them. Additional feedback for the author(s) is welcome, but mandatory only when revisions are recommended. In this case the external referee has to specify which parts of the submission need revision, and in what respects.
				</p>
				<p>
					While a request for minor revisions does not guarantee acceptance, it should only be recommended if the area editor believes that a revised submission has at least a 90% chance of being accepted. Major revisions should only be recommended when the area editor believes that a revised submission has at least a 70% chance of being accepted.
				</p>

				<p>
					Referee reports are released to authors as they are received rather than being held until a decision is made.
				</p>
		  </section>

		  <section id="review-policy-resubmission">
		    <h3>
		      2.5 Resubmission
		    </h3>
		    <p>
		      The managing editors try to assign resubmissions to the same area editor who handled the original submission. The area editor must then secure at least one external review, preferably from the same external reviewer(s) who recommended revisions (though not from reviewers who recommended acceptance or rejection). The area editor must also read the resubmission, and can only decide to accept or reject.
		    </p>
		  </section>
		</section>

		<section id="workflow">
		  <h2>
		    3. Workflow
		  </h2>

		  <section id="workflow-new-assignment">
		    <h3>3.1 Handling a New Assignment</h3>

		    <p>
		      When the managing editors assign you a submission, you will receive a notification email with a link. You are then responsible for ushering it through the editorial process, adhering to the schedule laid out in <a href="#review-policy">section 2</a>:
		    </p>
		      <ul>
		        <li>two weeks or less for initial review,
		        <li>six weeks or less for initial+external review.
		      </ul>
		    <p>
		      Read the manuscript and decide whether to reject the submission immediately (<a href="#reject">section 3.2</a>) or send it out for external review (<a href="#external_review">section 3.3</a>).
		    </p>
				<p>
					If you know the identity of the author(s), notify the managing editors immediately. They will try to reassign the submission to another area editor for whom it is anonymous. The assignment will remain yours only if this can't be done.
				</p>
		    <p>
		      If you decide to reject the submission without external review (&lt;50% chance of acceptance), follow the steps in section <a href="#reject">section 3.2</a>.
		    </p>
		    <p>
		      Otherwise, follow the steps in <a href="#external_review">section 3.3</a>.
		    </p>
		  </section>

		  <section id="workflow-recording">
		    <h3 id="reject">3.2 Recording a Decision</h3>

		    <p>
		      To record a decision:
		    </p>
		      <ol>
						<li>
							Navigate to that submission's page.
						</li>
		        <li>
							Click the "Edit" button next to "Internal Review".
		        </li>
						<li>
							Enter your rationale for the managing editors, and:
		        	<ul>
								<li>
									flag any comments from referees you think should not be forwarded to the author.
								</li>
								<li>
									flag any comments from referees that identify them or compromise the anonymity of their report.
								</li>
		          </ul>
						</li>
						<li>
							Enter your comments for the author (required for R&amp;Rs).
							<ul>
								<li>
									NB: <b>these comments will be shared with any referees.</b>
								</li>
							</ul>
						</li>
						<li>
							Click 'Save'.
						</li>
		      </ol>
		    <p>
		      The managing editors will then be automatically notified. When your decision is approved, the system will automatically:
					<ol>
						<li>notify you,</li>						
						<li>notify the author, attaching all comments for them, and</li>
						<li>thank each referee, notifying them of the outcome and attaching all comments for the author (yours and any referees').</li>
					</ol>
		    </p>
		  </section>

		  <section id="workflow-external-reviews">
		    <h3 id="external_review">3.3 Obtaining External Reviews</h3>
		    <p>
		      If you decide a submission merits external review (&ge;50% chance of acceptance), obtain at least two reports from external reviewers.
		    </p>
		
			  <section id="workflow-obtaining-external-reviews-the-request-process">
			    <h4 id="the_request_process">3.3.1 Requesting a Review</h3>

		    <p>
		      To request a review:
		    </p>
		      <ol>
		        <li>
							Click the "Add" button under "External Review".
		        </li>
						<li>
							Type the name or email of the referee you want to assign in the search field under "Registered user".
							<ul>
								<li>
									If they're already in the system, their information will appear as you type. Click it and then "Continue...".
								</li>
								<li>
									If they're not in the system, their information won't appear as you type. Enter their information under "New user" instead and click "Continue...".
								</li>
							</ul>
		        </li>
		        <li>
							Edit the opening of the email that appears to your liking, then click 'Send'.
						</li>
		      </ol>
				</section>
		
			  <section id="workflow-obtaining-external-reviews-managing-requests">
			  <h4 id="managing_requests">3.3.2 Managing Requests</h3>					
			
		    <p>
		      You will be notified by email when a referee accepts/declines your request. Repeat the above steps to invite other reviewers.
				</p>
				<p>
					If the referee neither accepts nor declines your request promptly, you will be cc'ed on a reminder email to them.
			    <ul>
						<li>
							If they still don't accept/decline, you'll be notified and instructed to seek another reviewer.
						</li>
					</ul>
		    </p>	
				<p>
					Often a referee will offer to accept a request if the deadline is extended.
					<ul>
						<li>
							Seek another reviewer when this happens.
						</li>
						<li>
							You can always come back to this person if you can't find another reviewer during the intervening month.
						</li>
					</ul>
				</p>
		    <p>
		      You will be notified when a referee completes their report. The report will become visible to the author(s) after 48 hours, rather than being held until a decision is made. You should vet the report before then to ensure it is suitable to be shared with the author. If it is not, notify the managing editors.
		    </p>
		    <p>
		      If you decide to reject a paper in light of the reviewers' reports, follow the steps from <a href="#reject">section 3.2</a>.
		    </p> 
				</section>

		  </section>

		  <section id="workflow-randr">
		    <h3>3.4 R&amp;Rs: Major/Minor Revisions</h3>

		    <p>
		      If you decide to recommend resubmission, follow the steps from <a href="#reject">section 3.2</a>. 
				</p>
				<p>
					In your comments for the author, explain how you expect them to revise the paper in light of the referees' comments. Especially address:
					<ul>
						<li>conflicting demands or recommendations made by the referees,</li>
						<li>referee comments/suggestions you think the author should not take, and</li>
						<li>your overall assessment of what the author needs to do to make the paper acceptable for publication.</li>
					</ul>
		    </p>
				<p>
					These comments <b><i>will be shared with the referees</i></b> as well as the author, so tact may be called for.
				</p>
				<p>
		      Resubmissions will, like new submissions, be assigned to an area editor by the managing editors. The review process is the same with one exception:
		    </p>
		        <ul>
		          <li>the area editor may only decide to accept or reject.
		        </ul>
		  </section>

		  <section id="workflow-acceptance">
		    <h3>3.5 Acceptance</h3>

		    <p>
		      If you decide to accept a paper, follow the steps from <a href="#reject">section 3.2</a> with one addendum:
		    </p>
		      <ul>
		        <li>In your explanation of your decision, address any outstanding concerns from reviewers. In particular, if a reviewer has recommended rejection or revisions, explain why you have chosen otherwise.
		        </li>
		      </ul>
		  </section>

  
		</section>

	</div>
</div>