<h6>Required</h6>

<ol>
	<li>Remove your name.</li>
	<li>Use the third person when citing your own work.</li>
	<li><b><i>Clear the file's metadata.</i></b> Word saves your name in the background. To remove it:
		<ul>
			<li>In Word go to File &gt; Properties... &gt; Summary</li>
			<li>In Acrobat go to File &gt; Properties... &gt; Description
		</ul>
</ol>

<h6>Recommended</h6>

<ol>
	<li>Remove the paper from your personal webpage.
	<li>Change the title if it appears on the web, e.g. a conference site.</li>
		<ul>
			<li>Or, remove the title altogether.</li>
		</ul>
</ol>