<h6>Required</h6>

<ol>
	<li>Remove your name.</li>
	<li>Use the third person when citing your own work.</li>
	<li><b><i>Clear the file's metadata:</i></b> in Acrobat go to File &gt; Properties... &gt; Description.</li>
</ol>

<h6>Recommended</h6>

<ol>
	<li>Remove the paper from your personal webpage.
	<li>Change the title if it appears on the web, e.g. a conference site.</li>
		<ul>
			<li>Or remove the title altogether.</li>
				<ul>
					<li>In this case, enter "Title Removed for Anonymous Review" or similar in the Title field.</li>
				</ul>
		</ul>
</ol>