<div style="display: inline-block; font-size: 12pt; font-weight: normal;">
	<div style="width: 0em; display: inline-block;"></div>
	<%= gender_popover_link @submission.author %>
	<span id="spinner" style="display:none">
		<%= fa_icon('spinner spin', style: "color: #0088CC; width: 1em; display: inline-block;" ) %>
  </span>
</div>