<div class="modal hide fade" id="uploading-modal">
	<div class="modal-header">
		<h3>Uploading...</h3>
	</div>
	<div class="modal-body">
		<div class="progress progress-striped">
			<div class="bar" style="width: 100%;">
			</div>
		</div>
	</div>
</div>