
<div class="row">
	<div class="span8 offset2">
	<h1>Please Confirm</h1>
		<%= form_for @referee_assignment,
								 url: { controller: 'one_click_reviews',
												id: @referee_assignment.auth_token,
												action: 'decline_confirmed' } do |f| %>
			<div class="text-center">
				<p>
					Please confirm that you are declining to review <%= link_to "\"#{@referee_assignment.submission.title}\"", @referee_assignment.submission.manuscript_file.url, target: "_blank" %>.
				</p>
				<%= link_to 'Cancel', edit_response_referee_center_path(@referee_assignment), class: "btn" %>
				<%= f.submit "Confirmed, I Decline", class: "btn btn-primary text-center" %>
			</div>
    <% end %>
  </div>
</div>
