<div class="row">
  <div class="offset2 span8">
		
		<h3 class="center">
			<%= link_to "\"#{@submission.title}\"",
									@submission.manuscript_file.url %>
		</h3>
		<% if current_user.managing_editor? %>
			<h4 class="center">
				by <%= link_to @submission.author.full_name, @submission.author %>
			</h4>
		<% end %>
			<br/>
		<%= render 'shared/completed_report' %>
		
  </div>
</div>
