<div class="row">
  <div class="offset2 span8">

		<h3 class="center">
			<%= link_to "\"#{@submission.title}\"",
									@submission.manuscript_file.url %>
		</h3>

		<% if current_user.managing_editor? %>
			<h4 class="center">
				by <%= link_to @submission.author.full_name, @submission.author %>
			</h4>
		<% end %>

		<% if @referee_assignment.hide_report_from_author %>
			<br/>
			<div class="alert alert-block alert-warning">
				This report is hidden from the author.
					<ul>
						<li>They won't be able to see it when they log in to the system.</li>
							<ul>
								<li>They won't even be able to see that it's been completed.</li>
							</ul>
						<li>But <b>they will see it in the decision email</b>, if/when a decision is approved.
					</ul>
			</div>
		<% end %>

		<br/>

		<%= render 'shared/completed_report' %>

  </div>
</div>
